# === 1. Python & OS ===
__pycache__/
*.py[cod]
*$py.class
.DS_Store
thumbs.db
.vscode/
.idea/

# === 2. Virtual Environments & Dependencies ===
# Bloqueamos la carpeta de entorno local, pero NO el lockfile
.venv/
venv/
ENV/
node_modules/

# === 3. Herramientas de Desarrollo (XP & TDD) ===
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.vscode/
.idea/

# === 4. Seguridad (Build Security In) ===
# Bloqueo agresivo de credenciales
*.json
!pyproject.toml      # Excepción: estos json/toml son seguros
!poetry.lock
.env
.envrc
secrets/
*.pem
*.key

# === 5. Data Engineering & IaC ===
# Si llegas a usar Terraform o archivos de datos locales
.terraform/
*.tfstate*
*.csv
*.parquet
*.jsonl
data/                # Carpeta para samples de datos locales que no queremos en Git
temp_data/

# === 6. Testing & Linting ===
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/
.mypy_cache/

# === 7.  Airflow / Composer local ===
standalone_admin_password.txt
airflow.db
airflow.cfg
logs/

# === 8. Jupyter Notebooks ===
.ipynb_checkpoints
